language: node_js

node_js:
  - "0.10"

before_install:
  - mysql -e "CREATE DATABASE osta;"
  - mysql -e "CREATE USER 'osta'@'%' IDENTIFIED BY 'osta';"
  - mysql -e "GRANT ALL PRIVILEGES ON *.* TO 'osta'@'%' WITH GRANT OPTION;" -uroot
  - gvm get
  - gvm update && source $HOME/.gvm/scripts/gvm
  - gvm install go1.3 --binary || gvm install go1.3
  - gvm use go1.3
  - go env
  - git clone https://github.com/ostensus/ostn.git
  - cd ostn
  - git checkout d287314
  - go install 
  - which ostn
  - ostn &