language: node_js

node_js:
  - "0.10"

before_install:
  - mysql -e "CREATE DATABASE osta;"
  - mysql -e "CREATE USER 'osta'@'%' IDENTIFIED BY 'osta';"
  - mysql -e "GRANT ALL PRIVILEGES ON *.* TO 'osta'@'%' WITH GRANT OPTION;" -uroot